.site-nav {
    background-color: #f5f5f5;
    padding: 0 2rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5002;
}

.logo {
    display: flex;
    align-items: center;
    height: 62px;
}
.logo .logo-img {
    width: 150px;
}

.menu-toggle {
    position: absolute;
    padding: 0.8em;
    top: 1em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #2a2353;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

.hamburger::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
}

.hamburger::after {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}

.open .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.open .hamburger::before {
    display: none;
}

.open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
            transform: translateY(-1px) rotate(-90deg);
}

nav {
    margin: 0;
    padding: 0;
}
nav .logo {
    padding: 0;
    max-width: 150px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.opening {
    display: block;
}

nav ul.opening .li-vertical-divider {
    display: none;
}

nav li {
    border-bottom: 1px solid #e0cb22;
}
nav li:last-child {
    border-bottom: none;
}
nav a {
    color: #2a2353;
    display: block;
    padding: 0.6em 2em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: #e0cb22;
}

nav .correo-link a {
    font-weight: 300;
}

.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: #2a2353;
}

/* flex styles */
@media (min-width: 1024px) {

    .menu-toggle {
        display: none;
    }


    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav li {
        flex: 1 1 auto;
        border: none;
    }
    nav li.active a {
        color: #2a2353;
        font-weight: 700;
    }

    nav li a {
        padding: 1em 1.8em;
        margin: 0;
        border: none;
    }
    
    .logo {
        height: 68px;
        max-width: 210px;
    }
    .logo .logo-img {
        width: 210px;
    }
    nav .logo {
        padding: 0;
        max-width: 210px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    nav ul.desktop {
        display: flex;
        align-items: center;
    }
    nav ul.opening .li-vertical-divider,
    nav ul .li-vertical-divider {
        display: inline-block;
        border: solid 1px #2a2353;
        height: 40px;
    }
    .site-nav--icon {
        display: none;
    }

}