html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.6rem;
}
h4 {
    font-size: 2.0rem;
}
a:hover,
a:active,
a:focus,
a:before,
a:after {
    background: transparent;
    text-decoration: none;
    border: none;
}
/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.5rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 6px;
    /* display: block; */
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton-verde {
    background-color: #e0cb22;
    color: #2a2353;
}
.boton-verde:hover {
    background-color: #b9ab37;
    color: #ffffff;
}

/* Header */
.site-header {
    background-color: #333333;
    padding: 0 0 0 0;
}
.site-header.inicio {
    position: relative;
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
}
.overlay {
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 5000;
}
.contenido-header {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 5001;
}
.contenido-header h1 {
    color: #ffffff;
    max-width: 80rem;
    line-height: 1;
    font-weight: 900;
}
.contenido-header p {
    color: #ffffff;
    max-width: 505px;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
}
.contenido-header .flecha {
    position: absolute;
    bottom: 1em;
    left: 0;
}
.contenido-header .flecha {
    text-decoration: none;
}
.contenido-header .flecha .icon {
    color: #ffffff;
}
.site-header .contenedor .icon:hover{
    color: #e0cb22;
}

/** Seccion principal **/
.objetivo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.objetivo .objetivo-img {
    width: 80px;
}
.objetivo h4 {
    text-transform: uppercase;
    margin: 1rem 0;
    color: #2a2353;
}
@media (min-width: 768px) {
    .seccion-ofrecemos {
        height: 25vh;
        min-height: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .iconos-ofrecemos {
        display: flex;
        justify-content: space-between;
    }
    .objetivo {
        flex-basis: calc(33.3% - 1rem);
    }
    .objetivo .objetivo-img {
        width: 100px;
    }
    .objetivo h4 {
        text-transform: uppercase;
        margin: 2rem 0 0;
    }
}

/** Utilidades home**/
.bloque-informacion-home {
    color: #ffffff;
    max-width: 35rem;
}
.bloque-informacion-home .arriba {
    text-align: center;
}
.bloque-informacion-home .arriba h2 {
    line-height: normal;
    text-align: left;
    margin: 0 0 0 1em;
}
.bloque-informacion-home .arriba img {
    width: 275px;
}
.bloque-informacion-home .abajo {
    margin: 0 0 0 2rem;
}
.bloque-informacion-home .abajo p {
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
}
.bloque-informacion-home .contenedor-boton {
    line-height: 1.5;
    margin: 3rem 2rem 0;
}
@media (max-width: 767px) and (orientation: landscape) {
    .bloque-informacion-home {
        color: #2a2353;
    }
}
@media (min-width: 768px) {
    .bloque-informacion-home {
        color: #2a2353;
    }
}
/** Seccion soluciones **/
.site-soluciones {
    position: relative;
    background-image: url(../img/soluciones-home.png);
    background-size: cover;
    height: 100vh;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor-home-soluciones {
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 768px) {
    .site-soluciones {
        background-image: url(../img/soluciones-home.png);
        background-position: center center;
        background-size: cover;
        min-height: 768px;
    }
    .contenedor-home-soluciones {
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
}

/** Seccion soporte **/
.site-soporte {
    position: relative;
    background-image: url(../img/soporte-home.png);
    background-position: center right;
    background-size: cover;
    height: 100vh;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor-home-soporte {
    display: flex;
    justify-content: flex-start;
}
@media (min-width: 768px) {
    .site-soporte {
        background-image: url(../img/soporte-home.png);
        background-position: center center;
        background-size: cover;
        min-height: 768px;
    }
    .contenedor-home-soporte {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}

/*** Seccion nuestro clientes **/
.site-nuestros-clientes {
    position: relative;
    min-height: 100vh;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
}
.contenedor-nuestros-clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor-nuestros-clientes .bloque-arriba {
    color: #2a2353;
    text-align: center;
    margin-bottom: 0;
}
.contenedor-nuestros-clientes .bloque-arriba h2 {
    font-weight: 300;
    margin: 0;
    line-height: 1.25;
}
.contenedor-nuestros-clientes .bloque-arriba h2 .bold {
    font-weight: 900;
}
.contenedor-nuestros-clientes .bloque-arriba .barra-con-circulos {
    width: 400px;
}
.contenedor-nuestros-clientes .clientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-nuestros-clientes .clientes:last-child {
    margin-bottom: 5em;
}
/* .contenedor-nuestros-clientes .clientes .cliente {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
} */
.contenedor-nuestros-clientes .clientes .cliente {
    margin: 1em;
    width: 180px;
}
.contenedor-nuestros-clientes .clientes .cliente .walmart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .totalplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .santander {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .inbursa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .sanborns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .izzi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .moctezuma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .banorte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .pemex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .infonavit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .att {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.contenedor-nuestros-clientes .clientes .cliente .kionetworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}
@media (min-width: 768px) {
    .contenedor-nuestros-clientes {
        align-items: center;
        flex-wrap: wrap;
    }
    .contenedor-nuestros-clientes .bloque-arriba {
        margin-bottom: 2em;
    }
    .contenedor-nuestros-clientes .bloque-arriba img {
        width: 500px;
    }
    .contenedor-nuestros-clientes .clientes {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }
    .contenedor-nuestros-clientes .clientes .cliente {
        flex-direction: column;
    }
}

/*** Seccion contactanos **/
.site-contactanos {
    background-color: #2a2353;
    position: relative;
    min-height: 40vh;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-contactanos .contenedor {
    color: #ffffff;
}
.site-contactanos .contenedor .bloque-arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}
.site-contactanos .contenedor .bloque-arriba h3 {
    margin: 0;
    font-weight: 900;
}
.site-contactanos .contenedor .bloque-arriba .barra-con-circulos {
    width: 380px;
}
.site-contactanos .contenedor .bloque-abajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.site-contactanos .contenedor .bloque-abajo p {
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0;
}
.site-contactanos .contenedor .bloque-abajo p .bold {
    font-weight: 600;
}
.site-contactanos .contenedor .bloque-abajo p a {
    text-decoration: none;
    color: #ffffff;
}
.site-contactanos .contenedor .bloque-abajo p a:hover {
    text-decoration: none;
    color: #e0cb22;
}
@media (min-width: 768px) {
    .site-contactanos .contenedor .bloque-abajo p {
        margin: .5em 0;
    }
}
/** Footer **/
.site-footer {
    background-color: #2a2353;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-footer .navegacion-footer {
    display: block;
}
.site-footer .navegacion-footer .link-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.site-footer .copyright {
    font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    margin: 0;
    color: #ffffff;
}
.site-footer .copyright .simbolo {
    margin-right: 3rem;
}
@media (min-width: 768px) {
    .contenedor-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .site-footer .navegacion-footer .link-logo {
        margin-bottom: 0;
    }
}

/** INTERNAS **/
/* Nosotros **/
.site-header.nosotros {
    position: relative;
    background-image: url(../img/nosotros.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.site-header.nosotros .contenido-header-nosotros {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 5001;
}
.site-header.nosotros .contenido-header-nosotros .bloque {
    margin-top: 2rem;
}
.site-header.nosotros .contenido-header-nosotros .bloque h1 {
    color: #ffffff;
    margin: 0;
    line-height: 1;
    font-weight: 900;
}
.site-header.nosotros .contenido-header-nosotros .bloque .barra-con-circulos {
    width: 320px;
}
.contenedor-nosotros {
    max-width: 744px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2a2353;
    line-height: 1.5;
}
.contenedor-nosotros p {
    width: 100%;
    font-weight: 300;
}
.contenedor-nosotros .bloque {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.contenedor-nosotros .bloque .elemento { 
    max-width: 33rem;
    color: #2a2353;
}
.folder-nosotros {
    position: relative;
    background-image: url(../img/nosotros-folder.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 6rem;
}
@media (min-width: 768px) {
    .contenedor-nosotros .bloque {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Soporte al cliente **/
.site-header.soporte {
    position: relative;
    background-image: url(../img/soporte.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.site-header.soporte .contenido-header-soporte {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 5001;
}
.site-header.soporte .contenido-header-soporte .bloque {
    margin-top: 2rem;
}
.site-header.soporte .contenido-header-soporte .bloque h1 {
    color: #ffffff;
    margin: 0;
    line-height: 1;
    font-weight: 900;
}
.site-header.soporte .contenido-header-soporte .bloque .barra-con-circulos {
    width: 280px;
}
.contenedor-soporte {
    height: 48vh;
    min-height: 272px;
    max-width: 81rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2a2353;
    line-height: 1.5;
}
.contenedor-soporte p {
    font-size: 1.8rem;
    font-weight: 300;
}
.contenedor-soporte p .bold {
    font-weight: 700;
}
.contenedor-soporte p:first-child {
    margin-top: 0;
}
.contenedor-soporte p a {
    text-decoration: none;
    color: #2a2353;
}
.contenedor-soporte p a:hover {
    color: #e0cb22;
}

/* Clientes **/
.site-header.clientes {
    position: relative;
    background-image: url(../img/nuestros-clientes.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.site-header.clientes .overlay {
    opacity: 0.4;
}
.site-header.clientes .contenido-header-clientes {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 5001;
}
.site-header.clientes .contenido-header-clientes .bloque {
    margin-top: 2rem;
}
.site-header.clientes .contenido-header-clientes .bloque h1 {
    color: #ffffff;
    margin: 0;
    line-height: 1.25;
    font-weight: 300;
}
.site-header.clientes .contenido-header-clientes .bloque h1 .bold {
    font-weight: 900;
}
.site-header.clientes .contenido-header-clientes .bloque .barra-con-circulos {
    width: 400px;
}
.contenedor-clientes {
    height: 48vh;
    min-height: 272px;
    max-width: 81rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2a2353;
    line-height: 1.5;
}
.contenedor-clientes p:first-child {
    margin-top: 0;
}
.contenedor-clientes p a {
    text-decoration: none;
    color: #2a2353;
}
.site-nuestros-clientes.clientes {
    min-height: 55vh;
}

/* Clientes **/
.site-header.soluciones {
    position: relative;
    background-image: url(../img/soluciones.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.site-header.soluciones .overlay {
    opacity: 0.4;
}
.site-header.soluciones .contenido-header-soluciones {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 5001;
}
.site-header.soluciones .contenido-header-soluciones .bloque {
    margin-top: 2rem;
}
.site-header.soluciones .contenido-header-soluciones .bloque h1 {
    color: #ffffff;
    margin: 0;
    line-height: 1;
    font-weight: 900;
}
.site-header.soluciones .contenido-header-soluciones .bloque .barra-con-circulos {
    width: 300px;
}
.contenedor-soluciones {
    min-height: 480px;
    max-width: 744px;
    margin: 5rem auto 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #2a2353;
    line-height: 1.5;
}
.contenedor-soluciones p {
    font-weight: 300;
}
.contenedor-soluciones .titulo {
    display: flex;
    justify-content: center;
    margin: 3em auto;
}
.contenedor-soluciones .titulo .bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-soluciones .titulo .bloque h3 {
    margin: 0;
}
.contenedor-soluciones .titulo .bloque .barra-con-circulos {
    width: 360px;
}
.contenedor-soluciones .soluciones {
    width: 100%;
}
/* Style the tab */
.contenedor-soluciones .soluciones .tab {
    overflow: hidden;
}
/* Style the buttons inside the tab */
.contenedor-soluciones .soluciones .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.contenedor-soluciones .soluciones .tab button:hover {
    /* background-color: #ddd; */
}
/* Create an active/current tablink class */
.contenedor-soluciones .soluciones .tab button.active img {
    filter: grayscale(0%);
}
/* Style the tab content */
.contenedor-soluciones .soluciones .tabcontent {
    display: none;
    padding: 0;
    border-top: none;
    text-align: justify;
}
.contenedor-soluciones .soluciones .tabcontent .bold {
    font-weight: 900;
}
.contenedor-soluciones .soluciones .tabcontent .subtitulo {
    margin: 0;
}
.contenedor-soluciones .soluciones .tab .tablinks {
    width: 150px;
    min-height: 95px;
}
.contenedor-soluciones .soluciones .tab .tablinks img {
    filter: grayscale(100%);
}
.contenedor-soluciones .soluciones .tab .tablinks img:hover {
    filter: grayscale(0%);
}
.contenedor-soluciones .soluciones .tab .tablinks .active-soluciones {
    display: none;
}
@media (min-width: 768px) {
    .contenedor-soluciones .soluciones {
        display: flex;
    }
    .contenedor-soluciones .soluciones .tab {
        width: 40%;
    }
    .contenedor-soluciones .soluciones .tab .tablinks {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 120px;
    }
    .contenedor-soluciones .soluciones .tab .tablinks img {
        max-width: 200px;
    }
    .contenedor-soluciones .soluciones .tab .tablinks.active .active-soluciones {
        display: block;
    }
    .contenedor-soluciones .soluciones .tabcontent {
        width: 60%;
        padding: 0 0 0 1em;
    }
}